div.activeview-scroller {
	border: 1px solid #AAAAAA;
	background: #EEEEEE;
	overflow: auto;
	height: 150px;
}
div.sample-info {
	margin: 10px 0;
}
div.sample-info span.count {
	color: red;
}
table.template-table td.controls a {
	margin-right: 10px;
}
/*div.help-tips div.tips {
	border: 1px solid #AAAAAA;
	background: #EEEEEE;
	overflow: auto;
	height: 250px;
}*/
#active-view-delete-form h1 {
	color: red;
	margin: .5em 0;
}
#active-view-delete-form h4 {
	font-size: 140%;
	margin-bottom: 1em;
}
div.template-delete-warning {
  margin: 10px 5px;
  font-size: 125%;
}
div.template-delete-warning h4 {
  color: red;
	margin: .5em 0;
}
div.container-inline {
  margin-top: 10px;
}